$color-logo : #CF2212;
:host {
    margin: 0px;
}
h1 {
    text-align: center;
}
input {
    outline: none;
    border-radius: 12px;
}
.input-group {
    float: left;
    input {
        outline: none;
        width: 0;
        height: 40px;
        transition: 0.5s;
        border: none;
        text-align: center;
    }
    .searchBtn {
        outline: none;
        border: #CF2212 1px solid; 
        height: 40px;
        color: black;
        width: 80px;
        border-radius: 12px;
        background-color: white;
    }   
}
.input-group:hover input {  
    border-radius: 12px;
    border: #CF2212 1px solid; 
    width: 300px;
}
.addBtn {
    border: #CF2212 1px solid; 
    color: black;
    width: 40px;
    border-radius: 12px;
    background-color: white;
    font-weight: bold;
    transition: 0.3s;
    span {
        display: none;
    }
}
.addBtn:hover{
    color: white;
    background-color: $color-logo;
    width: 140px;
    span {
        display: inline;
    }
}
.rainbow-1:hover{
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation:slidebg 4s linear infinite;
}
.container {
    font-size: 15px;
    height: 70px;
    margin: 10px;
    padding-top: 10px;
    border-bottom: 1px $color-logo solid;
    transition: 0.5s;
    cursor: pointer;
    .editBtn {
        float: right;
        height: 40px;
        margin: 0px;
        width: 50px;
        background-color: white;
        border: 1px $color-logo solid;
        -webkit-border-top-left-radius:42px;
        -moz-border-radius-topleft:42px;
        border-top-left-radius:42px;
        -webkit-border-bottom-left-radius:42px;
        -moz-border-radius-bottomleft:42px;
        border-bottom-left-radius:42px;
        transition: 0.5s;
        cursor: pointer;
    }
    .delBtn {
        float: right;
        height: 40px;
        width: 50px;
        margin: 0px;
        background-color: white;
        border: 1px $color-logo solid;
        -webkit-border-top-right-radius:25px;
        -moz-border-radius-topright:25px;
        border-top-right-radius:25px;
        -webkit-border-bottom-right-radius:25px;
        -moz-border-radius-bottomright:25px;
        border-bottom-right-radius:25px;
        transition: 0.5s;
        cursor: pointer;
    }
    .editBtn:hover {
        color: $color-logo;
        width: 70px;
    }
    .delBtn:hover {
        color: white;
        background-color: #CF2212;
        width: 70px;
    }
    .closeBtn {
        background-color: #CF2212;
        color: white;
    }
    .modal-body {
        margin-bottom: 10px;
    }
}
.container.main:hover {
    font-size: 17px;
    box-shadow: 5px 5px 5px #CF2212;
    -moz-box-shadow: 5px 5px 5px #CF2212;
    -webkit-box-shadow: 5px 5px 5px #CF2212;
}
@keyframes slidebg {
    to {
      background-position:20vw;
    }
}
