<div class="container" style="border-bottom: 0px; height: 50px;">
    <div class="row">
        <div class="input-group col-md-6">
            <input type="text" placeholder="Search...">
            <div class="input-group-btn">
                <button class="btn btn-default searchBtn">
                    <i class="fas fa-search "></i>
                </button>
            </div>
        </div>
        <button class="btn btn-default addBtn col-md-6" data-toggle="modal" data-target="#myModal" style="max-width: 90px;">ADD
            <i class="fas fa-plus"></i>
        </button>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Employee Informations</h4>
                </div>
                <div class="modal-body">
                    <p class="row">
                        <span class="col-md-3">ID:</span>
                        <input class="col-md-8"  type="text" placeholder="Ex: ...">
                    </p>
                    <p class="row">
                        <span class="col-md-3">Name:</span>
                        <input class="col-md-8"type="text" placeholder="Ex: HighLands Ha Noi">
                    </p>
                    <p class="row">
                        <span class="col-md-3">Address:</span>
                        <input class="col-md-8"  type="text" placeholder="Ex: 12 Hai Ba Trung">
                    </p>
                    <p class="row">
                        <span class="col-md-3">Open Day:</span>
                        <input class="col-md-8"  type="date">
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Confirm</button>
                    <button type="button" class="closeBtn btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container" style="color: #CF2212; font-size: 30px">
    <div class="row">
        <div class="col-md-2">ID</div>
        <div class="col-md-2">NAME</div>
        <div class="col-md-2">NHANVIEN</div>
        <div class="col-md-2">CHINHANH</div>
    </div>
</div>
<div class="container" *ngFor="let employee of employees">
    <div class="row">
        <div class="col-md-2">{{ employee.NhanVienId }}</div>
        <div class="col-md-2 name">{{ employee.HoTen | uppercase }}</div>
        <div class="col-md-2 address">{{ employee.LoaiNhanVienId }}</div>
        <div class="col-md-2 dayStart">{{ employee.ChiNhanhId }}</div>
        <div class="col-md-2 action">
            <button class="delBtn">
                <i class="fas fa-trash-alt"></i>
            </button>
            <button class="editBtn" data-toggle="modal" data-target="#myEditModal" style="max-width: 90px;">
                <i class="fas fa-edit"></i>
            </button>
            <div id="myEditModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Edit Department Informations</h4>
                        </div>
                        <div class="modal-body">
                            <p class="row">
                                <span class="col-md-3">ID:</span>
                                <input class="col-md-8" type="text">
                            </p>
                            <p class="row">
                                <span class="col-md-3">Name:</span>
                                <input class="col-md-8" type="text">
                            </p>
                            <p class="row">
                                <span class="col-md-3">Address:</span>
                                <input class="col-md-8" type="text">
                            </p>
                            <p class="row">
                                <span class="col-md-3">Open Day:</span>
                                <input class="col-md-8"  type="date">
                            </p>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Confirm</button>
                            <button type="button" class="closeBtn btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>