<div class="container" style="border-bottom: 0px; height: 50px;">
    <div class="row">
        <!-- input search -->
        <div class="input-group col-md-9">
            <div class="input-group-btn">
                <button class="btn btn-default searchBtn rainbow rainbow-1">
                    <i class="fas fa-search "></i>
                </button>
            </div>
            <input placeholder=" Search..." [(ngModel)]="keyw" (keyup.enter)="searchEmploy(keyw)">
        </div>
        <!-- button add -->
        <div class="col-md-2">
            <button class="btn btn-default addBtn" data-toggle="modal" data-target="#myModal">
                <span>ADD</span>
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <!-- employee tags -->
    <div class="container">
        <div class="row">
            <div *ngFor="let employee of employees" class="emp col-md-3">
                <h3>INFORMATION</h3>
                <img src="../../assets/personIcon.jpg" alt="">
                <p>
                    <b>ID: </b>{{ employee.NhanVienId }}</p>
                <p>
                    <b>Full name: </b>{{ employee.HoTen | uppercase }}</p>
                <p>
                    <b>Address: </b>{{ employee.DiaChi }}</p>
                <p>
                    <b>Birth: </b>{{ employee.NgaySinh | date }}</p>
                <p>
                    <b>Sex: </b>{{ employee.GioiTinh | sexPipe }}</p>
                <p>
                    <b>Position: </b>{{ kindEmploys | positionPipe: employee.LoaiNhanVienId }}</p>
                <p>
                    <b>Department: </b>{{ departments | departmentPipe: employee.ChiNhanhId }}</p>
                <button class="delBtn" (click)="delEmploy(employee)">
                    <i class="fas fa-trash-alt"></i>
                </button>
                <button class="editBtn">
                    <i class="fas fa-edit"></i>
                </button>
            </div>
        </div>
    </div>
</div>